* {
  font-family: "Helvetica", sans-serif;
}

body {
  height: 97vh;
}

.reset {
  display: block;
  margin: 10px auto;
  padding: 5px;
}

.grid-container {
  margin: auto;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  border: 0.01px solid black;
}

.grid-container>div {
  box-sizing: border-box;
  border: 0;
}